<?xml version="1.0" encoding="UTF-8"?>
<gmd:MD_Metadata xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gco="http://www.isotc211.org/2005/gco"
                 xmlns:srv="http://www.isotc211.org/2005/srv" xmlns:gml="http://www.opengis.net/gml"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
    <gmd:fileIdentifier>
        <gco:CharacterString>$guid</gco:CharacterString>
    </gmd:fileIdentifier>
    <gmd:language>
        <gco:CharacterString>en</gco:CharacterString>
    </gmd:language>
    <gmd:hierarchyLevel>
        <gmd:MD_ScopeCode codeSpace="ISOTC211/19115"
                          codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ScopeCode"
                          codeListValue="dataset">$resourceType</gmd:MD_ScopeCode>
    </gmd:hierarchyLevel>
    <!--
    <gmd:hierarchyLevelName>
        <gco:CharacterString>$resourceType</gco:CharacterString>
    </gmd:hierarchyLevelName>
    -->
    <gmd:contact>
        <gmd:CI_ResponsibleParty>
            <gmd:individualName>
                <gco:CharacterString>$individualName</gco:CharacterString>
            </gmd:individualName>
            <gmd:contactInfo>
                <gmd:CI_Contact>
                    <gmd:address>
                        <gmd:CI_Address>
                            <gmd:electronicMailAddress>
                                <gco:CharacterString>$contactEmail</gco:CharacterString>
                            </gmd:electronicMailAddress>
                        </gmd:CI_Address>
                    </gmd:address>
                </gmd:CI_Contact>
            </gmd:contactInfo>
            <gmd:role>
                <gmd:CI_RoleCode codeSpace="ISOTC211/19115"
                                 codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                 codeListValue="pointOfContact">pointOfContact
                </gmd:CI_RoleCode>
            </gmd:role>
        </gmd:CI_ResponsibleParty>
    </gmd:contact>
    <gmd:dateStamp>
        <gco:Date>$editDate</gco:Date>
    </gmd:dateStamp>
    <gmd:metadataStandardName>
        <gco:CharacterString>ISO 19139/19115 Metadata for Datasets</gco:CharacterString>
    </gmd:metadataStandardName>
    <gmd:metadataStandardVersion>
        <gco:CharacterString>2003</gco:CharacterString>
    </gmd:metadataStandardVersion>
    <gmd:referenceSystemInfo>
        <gmd:MD_ReferenceSystem>
            <gmd:referenceSystemIdentifier>
                <gmd:RS_Identifier>
                    <gmd:code>
                        <gco:CharacterString>4326</gco:CharacterString>
                    </gmd:code>
                </gmd:RS_Identifier>
            </gmd:referenceSystemIdentifier>
        </gmd:MD_ReferenceSystem>
    </gmd:referenceSystemInfo>
    <gmd:identificationInfo>
        <gmd:MD_DataIdentification>
            <gmd:citation>
                <gmd:CI_Citation>
                    <gmd:title>
                        <gco:CharacterString>$resourceTitle</gco:CharacterString>
                    </gmd:title>
                    #if ($alternateTitle)
                        <gmd:alternateTitle>
                            <gco:CharacterString>$alternateTitle</gco:CharacterString>
                        </gmd:alternateTitle>
                    #end
                    <gmd:date>
                        <gmd:CI_Date>
                            <gmd:date>
                                <gco:Date>$editDate</gco:Date>
                            </gmd:date>
                            <gmd:dateType>
                                <gmd:CI_DateTypeCode codeSpace="ISOTC211/19115"
                                                     codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode"
                                                     codeListValue="publication">publication
                                </gmd:CI_DateTypeCode>
                            </gmd:dateType>
                        </gmd:CI_Date>
                    </gmd:date>
                    #if ($definingCitation)
                    <gmd:identifier>
                        <gmd:MD_Identifier>
                            <gmd:code>
                                <gco:CharacterString>$definingCitation</gco:CharacterString>
                            </gmd:code>
                        </gmd:MD_Identifier>
                     #end
                    </gmd:identifier>
                </gmd:CI_Citation>
            </gmd:citation>
            <gmd:abstract>
                <gco:CharacterString>$abstract</gco:CharacterString>
            </gmd:abstract>
            <gmd:pointOfContact>
                <gmd:CI_ResponsibleParty>
                    <gmd:individualName>
                        <gco:CharacterString>$individualName</gco:CharacterString>
                    </gmd:individualName>
                    <gmd:organisationName>
                        <gco:CharacterString>$resourceContributor</gco:CharacterString>
                    </gmd:organisationName>
                    <!--
                    <gmd:positionName>
                        <gco:CharacterString>$czoRole</gco:CharacterString>
                    </gmd:positionName>
-->
                    #if(${contactEmail})
                        <gmd:contactInfo>
                            <gmd:CI_Contact>
                                <!--
                                <gmd:phone>
                                    <gmd:CI_Telephone>
                                        <gmd:voice>
                                            <gco:CharacterString>$phone</gco:CharacterString>
                                        </gmd:voice>
                                    </gmd:CI_Telephone>
                                </gmd:phone>
                                -->
                                <gmd:address>
                                    <gmd:CI_Address>
                                        <!--
                                        <gmd:deliveryPoint>
                                            <gco:CharacterString>$deliveryPoint</gco:CharacterString>
                                        </gmd:deliveryPoint>
                                        <gmd:city>
                                            <gco:CharacterString>$city</gco:CharacterString>
                                        </gmd:city>
                                        <gmd:administrativeArea>
                                            <gco:CharacterString>$state</gco:CharacterString>
                                        </gmd:administrativeArea>
                                        <gmd:postalCode>
                                            <gco:CharacterString>$zip</gco:CharacterString>
                                        </gmd:postalCode>
                                        -->
                                        <gmd:electronicMailAddress>
                                            <gco:CharacterString>$contactEmail</gco:CharacterString>
                                        </gmd:electronicMailAddress>
                                    </gmd:CI_Address>
                                </gmd:address>
                            </gmd:CI_Contact>
                        </gmd:contactInfo>
                    #end
                    <gmd:role>
                        <gmd:CI_RoleCode codeSpace="ISOTC211/19115"
                                         codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                         codeListValue="pointOfContact">pointOfContact
                        </gmd:CI_RoleCode>
                    </gmd:role>
                </gmd:CI_ResponsibleParty>
            </gmd:pointOfContact>
            #if(!${geoscienceSubdomains.isEmpty()})
                <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                        #foreach($geoscienceSubdomain in $geoscienceSubdomains)
                            <gmd:keyword>
                                <gco:CharacterString>$geoscienceSubdomain</gco:CharacterString>
                            </gmd:keyword>
                        #end
                        <gmd:type>
                            <gmd:MD_KeywordTypeCode
                                    codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                    codeListValue="discipline">discipline
                            </gmd:MD_KeywordTypeCode>
                        </gmd:type>
                    </gmd:MD_Keywords>
                </gmd:descriptiveKeywords>
            #end
            #if(!${equipments.isEmpty()})
                <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                        #foreach($equipment in $equipments)
                            <gmd:keyword>
                                <gco:CharacterString>$equipment</gco:CharacterString>
                            </gmd:keyword>
                        #end
                        <gmd:thesaurusName>
                            <gmd:CI_Citation>
                                <gmd:title>
                                    <gco:CharacterString>Equipment</gco:CharacterString>
                                </gmd:title>
                            </gmd:CI_Citation>
                        </gmd:thesaurusName>
                        <gmd:type>
                            <gmd:MD_KeywordTypeCode
                                    codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                    codeListValue="theme">theme
                            </gmd:MD_KeywordTypeCode>
                        </gmd:type>
                    </gmd:MD_Keywords>
                </gmd:descriptiveKeywords>
            #end
            #if(!${methods.isEmpty()})
                <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                        #foreach($method in $methods)
                            <gmd:keyword>
                                <gco:CharacterString>$method</gco:CharacterString>
                            </gmd:keyword>
                        #end
                        <gmd:thesaurusName>
                            <gmd:CI_Citation>
                                <gmd:title>
                                    <gco:CharacterString>Methods</gco:CharacterString>
                                </gmd:title>
                            </gmd:CI_Citation>
                        </gmd:thesaurusName>
                        <gmd:type>
                            <gmd:MD_KeywordTypeCode
                                    codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                    codeListValue="theme">theme
                            </gmd:MD_KeywordTypeCode>
                        </gmd:type>
                    </gmd:MD_Keywords>
                </gmd:descriptiveKeywords>
            #end
            #if(!${earthProcesses.isEmpty()})
                <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                        #foreach($earthProcess in $earthProcesses)
                            <gmd:keyword>
                                <gco:CharacterString>$earthProcess</gco:CharacterString>
                            </gmd:keyword>
                        #end
                        <gmd:thesaurusName>
                            <gmd:CI_Citation>
                                <gmd:title>
                                    <gco:CharacterString>Earth processes</gco:CharacterString>
                                </gmd:title>
                            </gmd:CI_Citation>
                        </gmd:thesaurusName>
                        <gmd:type>
                            <gmd:MD_KeywordTypeCode
                                    codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                    codeListValue="theme">theme
                            </gmd:MD_KeywordTypeCode>
                        </gmd:type>
                    </gmd:MD_Keywords>
                </gmd:descriptiveKeywords>
            #end
            #if(!${describedFeatures.isEmpty()})
                <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                        #foreach($describedFeature in $describedFeatures)
                            <gmd:keyword>
                                <gco:CharacterString>$describedFeature</gco:CharacterString>
                            </gmd:keyword>
                        #end
                        <gmd:thesaurusName>
                            <gmd:CI_Citation>
                                <gmd:title>
                                    <gco:CharacterString>Features</gco:CharacterString>
                                </gmd:title>
                            </gmd:CI_Citation>
                        </gmd:thesaurusName>
                        <gmd:type>
                            <gmd:MD_KeywordTypeCode
                                    codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                    codeListValue="theme">theme
                            </gmd:MD_KeywordTypeCode>
                        </gmd:type>
                    </gmd:MD_Keywords>
                </gmd:descriptiveKeywords>
            #end
            #if(!${otherTags.isEmpty()})
                <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                        #foreach($otherTag in $otherTags)
                            <gmd:keyword>
                                <gco:CharacterString>$otherTag</gco:CharacterString>
                            </gmd:keyword>
                        #end
                        <gmd:type>
                            <gmd:MD_KeywordTypeCode
                                    codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                    codeListValue="theme">theme
                            </gmd:MD_KeywordTypeCode>
                        </gmd:type>
                    </gmd:MD_Keywords>
                </gmd:descriptiveKeywords>
            #end
            #if(!${placeNames.isEmpty()})
                <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                        #foreach($placeName in $placeNames)
                            <gmd:keyword>
                                <gco:CharacterString>$placeName</gco:CharacterString>
                            </gmd:keyword>
                        #end
                        <gmd:type>
                            <gmd:MD_KeywordTypeCode
                                    codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                    codeListValue="place">place
                            </gmd:MD_KeywordTypeCode>
                        </gmd:type>
                    </gmd:MD_Keywords>
                </gmd:descriptiveKeywords>
            #end
            #if($categoryKeywords)
                #foreach($cw in $categoryKeywords)
                    <gmd:descriptiveKeywords>
                        <gmd:MD_Keywords>
                            #foreach($keyword in $cw.terms)
                                <gmd:keyword>
                                    <gco:CharacterString>$keyword</gco:CharacterString>
                                </gmd:keyword>
                            #end
                            <gmd:type>
                                <gmd:MD_KeywordTypeCode codeSpace="ISOTC211/19115"
                                                        codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                                        codeListValue="theme">theme
                                </gmd:MD_KeywordTypeCode>
                            </gmd:type>
                        </gmd:MD_Keywords>
                    </gmd:descriptiveKeywords>
                #end
            #end

            <gmd:language>
                <gco:CharacterString>en</gco:CharacterString>
            </gmd:language>
            #if ($topicCategory)
                <gmd:topicCategory>
                    <gmd:MD_TopicCategoryCode>[discipline tag1]</gmd:MD_TopicCategoryCode>
                </gmd:topicCategory>
                <gmd:topicCategory>
                    <gmd:MD_TopicCategoryCode>[discipline tag2]</gmd:MD_TopicCategoryCode>
                </gmd:topicCategory>
            #end
            #if ($hasExtent)
                <gmd:extent>
                    <gmd:EX_Extent>
                        #if($spatialExtents)
                            #foreach($se in $spatialExtents)
                                <gmd:geographicElement>
                                    <gmd:EX_GeographicBoundingBox>
                                        <gmd:westBoundLongitude>
                                            <gco:Decimal>${se.westBoundLongitude}</gco:Decimal>
                                        </gmd:westBoundLongitude>
                                        <gmd:eastBoundLongitude>
                                            <gco:Decimal>${se.eastBoundLongitude}</gco:Decimal>
                                        </gmd:eastBoundLongitude>
                                        <gmd:southBoundLatitude>
                                            <gco:Decimal>${se.southBoundLatitude}</gco:Decimal>
                                        </gmd:southBoundLatitude>
                                        <gmd:northBoundLatitude>
                                            <gco:Decimal>${se.northBoundLatitude}</gco:Decimal>
                                        </gmd:northBoundLatitude>
                                    </gmd:EX_GeographicBoundingBox>
                                </gmd:geographicElement>
                            #end
                        #end
                        #if($temporalExtent)
                            <gmd:temporalElement>
                                <gmd:EX_TemporalExtent>
                                    <gmd:extent>
                                        <gml:TimePeriod gml:id="Temporal">
                                            <gml:beginPosition>${temporalExtent.start}</gml:beginPosition>
                                            <gml:endPosition>${temporalExtent.end}</gml:endPosition>
                                        </gml:TimePeriod>
                                    </gmd:extent>
                                </gmd:EX_TemporalExtent>
                            </gmd:temporalElement>
                        #end
                        #if($geologicAge)
                            <gmd:temporalElement>
                                <gmd:EX_TemporalExtent>
                                    <gmd:extent>
                                        <gml:TimePeriod gml:id="GeologicAge">
                                            <gml:beginPosition
                                                    frame="geologicTime">${geologicAge.older}</gml:beginPosition>
                                            <gml:endPosition
                                                    frame="geologicTime">${geologicAge.younger}</gml:endPosition>
                                        </gml:TimePeriod>
                                    </gmd:extent>
                                </gmd:EX_TemporalExtent>
                            </gmd:temporalElement>
                        #end
                    </gmd:EX_Extent>
                </gmd:extent>
            #end
        </gmd:MD_DataIdentification>
    </gmd:identificationInfo>
    #if($resourceURL)
        <gmd:distributionInfo>
            <gmd:MD_Distribution>
                <!--
                <gmd:distributionFormat>
                    <gmd:MD_Format>
                        <gmd:name>
                            <gco:CharacterString>$fileFormat</gco:CharacterString>
                        </gmd:name>
                    </gmd:MD_Format>
                </gmd:distributionFormat>
                    -->
                <gmd:transferOptions>
                    <gmd:MD_DigitalTransferOptions>
                        <gmd:onLine>
                            <gmd:CI_OnlineResource>
                                <gmd:linkage>
                                    <gmd:URL>$resourceURL</gmd:URL>
                                </gmd:linkage>
                            </gmd:CI_OnlineResource>
                        </gmd:onLine>
                    </gmd:MD_DigitalTransferOptions>
                </gmd:transferOptions>
            </gmd:MD_Distribution>
        </gmd:distributionInfo>
    #end
    #if($lineage)
        <gmd:dataQualityInfo>
            <gmd:DQ_DataQuality>
                <gmd:scope>
                    <gmd:DQ_Scope>
                        <gmd:level>
                            <gmd:MD_ScopeCode codeList="" codeListValue="dataset">dataset</gmd:MD_ScopeCode>
                        </gmd:level>
                    </gmd:DQ_Scope>
                </gmd:scope>
                <gmd:lineage>
                    <gmd:LI_Lineage>
                        <gmd:statement>
                            <gco:CharacterString>$lineage</gco:CharacterString>
                        </gmd:statement>
                    </gmd:LI_Lineage>
                </gmd:lineage>
            </gmd:DQ_DataQuality>
        </gmd:dataQualityInfo>
    #end
</gmd:MD_Metadata>